<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @game.code %>
</p>

<p>
  <%== @qr.as_svg %>
</p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
