<!DOCTYPE html>
<html>
  <head>
    <title>HOD</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="Header">
      <%= link_to "Effects", "/effects" %>
      <%= link_to "Games", "/games" %>
      <%= link_to "Join", "/" %>
      <%= link_to "Profile", "/" %>
      <div class="top_menu">
        <% if user_signed_in? %>
          <%= link_to 'Account', edit_user_registration_path %> | <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
          <%= image_tag(current_user.avatar.url, alt: 'Avatar') if current_user.avatar? %>
        <% else %>
          <%= link_to 'Sign In', new_user_session_path %> | <%= link_to 'Sign Up', new_user_registration_path %>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
